#news {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#news-top {
    width: 100%;
}

#news-top input {
    height: 35%;
    width: 15%;
    margin-top: 4%;
    margin-left: 38%;
}

#news-top button {
    height: 35%;
    width: 5%;
    margin-top: 4%;
    margin-left: 5%;
    background-color: #157347;
    color: #FFFFFF;
    font-weight: bold;
    border-color: #157347;
}

#news-widget {
    width: 20%;
    margin: 2.5%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#news-widget img {
    height: 50%;
}