#weather {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#weather-center {
    height: 100%;
    width: 40%;
}

#weather-center input {
    height: 5%;
    width: 38%;
    margin-top: 10%;
    margin-left: 31%;
}

#weather-center button {
    height: 5%;
    width: 12%;
    margin-top: 5%;
    margin-left: 44%;
    background-color: #0D6EFD;
    color: #FFFFFF;
    font-weight: bold;
    border-color: #0D6EFD;
}

#weather-center h2 {
    text-align: center;
}

#latitute {
    margin-top: 20%;
}

#longitute {
    margin-bottom: 30%;
}

.weather-side {
    height: 100%;
    width: 30%;
}

#weather-widget {
    height: 33.33%;
    width: 100%;
    border-color: #FFFFFF;
    border-style: solid;
}

#weather-widget img {
    height: 30%;
    width: 30%;
    margin-top: 5%;
}

#weather-widget h1 {
    margin-top: 7.5%;
    margin-right: 7.5%;
    float: right;
}

#weather-widget h2 {
    margin-top: 10%;
    text-align: center;
}